body{
    margin:0px;
    padding:0px;
    border:0px;
}

.border-bottom-2{
    border-bottom: 2px solid #ff2d20;
}

.border-top-2{
    border-top: 2px solid #ff2d20;
}

.menu-item{
    color: #f95a52;
}

.menu-link, .menu-link:hover{
    color:#dbdbdb;
}

.texto-laranja{
    color: #f95a52;
}

.foto{
    max-width: 125px;
    min-width: 125px;
    max-height: 175px;
    min-height: 175px;
  }

input:hover, select:hover, textarea:hover{
    border: 1px solid red;
    border-bottom: 3px solid red;
}
