body{
    margin:0px;
    padding:0px;
    border:0px;
}

.border-bottom-2{
    border-bottom: 2px solid #ff2d20;
}

.border-top-2{
    border-top: 2px solid #ff2d20;
}

.menu-item{
    color: #f95a52;
}

.menu-link, .menu-link:hover{
    color:#dbdbdb;
}

.texto-laranja{
    color: #f95a52;
}
